body{
    background-color: rgb(51, 1, 66);
}
button {
    background-color: rgb(195, 0, 255);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
  }
  .form-container {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100% auto;
    margin: 5% auto;
  }
  
  .form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .form-container button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
    